{% extends 'galleries/base.html' %}


{% block page_header %}
  <h1>Foods</h1>
{% endblock page_header %}


{% block content %}


  <ul class="list-group border-bottom pb-2 mb-4">
    {% for food in foods %}
      <li class="list-group-item border-0">
        <a href="{% url 'galleries:food_detail' food.id %}">
          {{ food.food_text }}</a>
      </li>
    {% empty %}
      <li class="list-group-item border-0">No foods have been added yet.</li>
    {% endfor %}
  </ul>


{% endblock content %}