{% extends 'galleries/base.html' %}


{% block page_header %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
      <h1 class="display-3">The Philippines during the 19th century.</h1>
     
      <p class="lead">An exhibition of photos depicting various aspects of life 
        in the Philippines during the 19th century accompanied with detailed 
        descriptions to provide historical context, significance, and relevance 
        of the subject matter captured in each image.
      </p>

      <a class="btn btn-primary btn-lg mt-1"
          href="{% url 'galleries:events' %}">Start here &raquo;</a>
  </div>
{% endblock page_header %}